<html lang = "en">
<head>
    <script src = "/fundamentalview/js/angular.min.js"></script>
    <script src = "/fundamentalview/js/angular-animate.min.js"></script>
    <script src = "/fundamentalview/js/angular-aria.min.js"></script>
    <script src = "/fundamentalview/js/angular-messages.min.js"></script>
    <script src = "/fundamentalview/js/angular-material.min.js"></script>
    <script src = "/fundamentalview/js/angular-route.js"></script>


    <link rel = "stylesheet" href = "/fundamentalview/css/angular-material.min.css">


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel = "stylesheet" href = "https://fonts.googleapis.com/icon?family=Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" >




    <script language = "javascript">

        var module = angular.module('firstApplication', ['ngMaterial','ngRoute']);
        module.config(function ($routeProvider) {

            $routeProvider.when('/student', {
                templateUrl: '/fundamentalview/route/allstock/allstockdefault.html'

            }).when(
                '/createnews', {
                    templateUrl: '/fundamentalview/route/investigate/investigate-create.html'

                }

            ).when(
                '/editenews', {
                    templateUrl: '/fundamentalview/route/investigate/investigate-edit.html'

                }

            )

        });


        module.config(function($mdIconProvider) {
            $mdIconProvider
                .defaultFontSet('FontAwesome')
                .fontSet('fa', 'FontAwesome');
        });

        module.controller('sideNavController', ['$scope','$location', function($scope,$location){
            console.log('HERE IN CONTROLLER');
            $scope.alert = function(arg) {
                console.log('I AM CLICK ');
                alert(arg);
                $location.path('/student');
            }

            $scope.createnews = function () {
                $location.path('/createnews');

            }

            $scope.editnews = function () {
                $location.path('/editenews');

            }




        }]);
    </script>



</head>
<body ng-app="firstApplication" style="background-color: none" layout="row" ng-controller="sideNavController">

<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-componentid="left" md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar layout="row" layout-align="left">
        <div>Welcome User!</div>
        <div>login </div>
        <div>logout </div>
    </md-toolbar>





    <md-list>
        <md-subheader class="md-no-sticky">My Features</md-subheader>
        <md-list-item class="secondary-button-padding" ng-click="alert('clicked')"> <p>  All Stock </p> </md-list-item>

        <md-list-item class="secondary-button-padding" ng-click=""> <p> <a href="/angular/templates/test/side.html#/student/">Daily </a> </p> </md-list-item>
        <md-list-item class="secondary-button-padding" ng-click="" md-ink-ripple="#FF0400"> <p>Fundamental</p> </md-list-item>
            <md-menu>
                <!-- Trigger for menu -->
                <md-button ng-click="$mdOpenMenu()"> News </md-button>
                <!-- Individual menu options and buttons-->

                <md-menu-content>
                    <md-menu-item>
                        <md-button ng-click="createnews()"> create </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button ng-click="editnews()"> edit </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>


        <md-divider></md-divider>
    </md-list>
</md-sidenav>




<div layout="column" layout-fill>
    <div ng-view> </div>

</div>

</body>
</html>